{% extends "layout.html" %}

{% block body %}
<div style="padding:20px;height:400px;" id="buy_sell_div">
    <h2 class="ms-3 mb-2" >Buy/Sell</h2>

   
  <span class="ms-3 mb-2" style="font-weight: bold;color:beige;font-size:20px;" id="buy_sell_current_price"></span>
    <form action="{% url 'buy_sell' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
           {{form}}
        </div>
        <p class="ms-3 mb-2" style="color: beige;" id="exp_amount"></p>
        <input id="buy_sell_submit" class="btn btn-primary ms-3" type="submit" value="Action">
    </form>
</div>
  


{% endblock %}