{% extends "layout.html" %}

{% block body %}

   <div id="history_div">


    <h1>My History</h1>

<table class="table table-striped">
<tr>

    <th>From</th>
    <th>To</th>
    <th>Coin</th>
    <th>Name</th>
    <th>Coin Amount</th>
    <th>Price/Coin</th>
    
    <th>On</th>
    <th>Status</th>
</tr>
{%for event in history%}
<tr>
    
    <td>{{event.from_user}}</td>
    <td>{{event.to_user}}</td>
    <td>{{event.transacted_coin.symbol}}</td>
    <td>{{event.transacted_coin.title}}</td>
    <td>{{event.transacted_amount}}</td>
    <td>{{event.transacted_coin_value}}</td>    
   
    <td>{{event.transaction_on}}</td>
    <td>{{event.transact_action}}</td>
    




</tr>


{%endfor%}




</table>
    



   </div> 
{%if history %}
   <nav >
    <ul class="pagination justify-content-center">
      {% if history.has_previous %}
      <li  class="page-item"><a id="market_first"  class="page-link" href="?page=1">First</a></li>
      <li class="page-item"><a id="market_previous" class="page-link" href="?page={{ history.previous_page_number }}">Previous</a></li>
      {% endif %}
      <li class="page-item"><a id="market_current" class="page-link" href="?page={{ history.number }}">Page {{ history.number }} of {{ history.paginator.num_pages }}</a></li>
      {% if history.has_next %}
      <li class="page-item"><a id="market_next" class="page-link" href="?page={{ history.next_page_number }}">Next</a></li>
      <li class="page-item"><a id="market_last" class="page-link" href="?page={{ history.paginator.num_pages }}">Last</a></li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
   

{% endblock %}