{% extends "layout.html" %}  {%block body%}

<div id="index_div" class="container">
	<div class="row">
		<div style="width:750px;height:500px;" class="mb-5 col-xs-6 col-sm-12 col-md-6"> 
			<div id="carouselExampleInterval" class=" carousel slide carousel-fade me-2" data-bs-ride="carousel">
				<div class="carousel-inner" ">
				  <div class="carousel-item active" data-bs-interval="3000">
					<div class="card" style="width:700px;height:500px;">
						<div class="card-body" style="text-align: center; padding:70px 0;">
						  <h1 style="font-size:100px;">World's </h1>
						  <h1 style="font-size:70px;">Crypto </h1>
						  <h1 style="font-size:80px;font-weight:bolder;color:blue">Extraordinaire</h1>
						</div>
					  </div>
				  </div>
				  <div class="carousel-item" data-bs-interval="3000">
					 
					<div class="card" style="width:700px;height:500px;">
						<div class="card-body"style="text-align: center;padding:70px 0;">
						  
						  <h1 style="font-size:70px;color:blue">Fund Your Account and </h1>
						  <h1 style="font-size:80px;font-weight:bolder;">Start Trading</h1>
						</div>
					  </div>
					
				  </div>
				  <div class="carousel-item" data-bs-interval="3000">
					<div class="card" style="width:700px;height:500px;">
						<div class="card-body" style="text-align: center;">
						  <h1 style="font-size:100px;color:blue">Seamless</h1>
						  <h1 style="font-size:100px;">Fast</h1>
						  <h1 style="font-size:100px;font-weight:bolder;color:blue">Efficient</h1>
						</div>
					  </div>
				  </div>
				  <div class="carousel-item" data-bs-interval="3000">
					<div class="card" style="width:700px;height:500px;">
						<div class="card-body" style="text-align: center;padding:70px 0;">
						  <h1 style="font-size:60px;">The</h1>
						  <h1 style="font-size:100px;font-weight:bolder;color:blue">Crypto</h1>
						  <h1 style="font-size:100px;font-weight:bolder;color:blue">Hub</h1>
						</div>
					  </div>
				  </div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Next</span>
				</button>
			  </div>

		</div> 
		<div style="width:550px;height:800px;" class="col-6 ">
			{%for item in coins%}

			<div style="width: 500px" class="container">
				<div class="row">
					<div class="col-2 me-2"><a href="{%url 'view_coin' item.id %}">
						<img
							src="https://cryptologos.cc/logos/{{item.id}}-{{item.symbol|lower}}-logo.png"							
							
							width="40px"
							alt="" />
					</a>
						
					</div>
					<div class="col-4">
						<a style="text-decoration: none" href="{%url 'view_coin' item.id %}"
							><h5 style="padding: 5px 0; text-align: left">
								<span style="color: black; font: size 20px"
									>{{item.symbol}}
								</span>
								<span style="color: grey;padding: 5px 0;">{{item.name}}</span>
							</h5></a
						>
					</div>
					<div class="col-5">
						<h5  style="padding: 5px 0;;font-weight: bold;">$ <span id="index_price_{{item.id}}">{{item.priceUsd|floatformat:4}}</span></h5>
					</div>
					
				</div>
			</div>

			{%endfor%}

			<a class="m-3" href="{%url 'markets'%}"
				><span style="color: grey">View All 100+ coins</span></a
			>
		</div>
	</div>
</div>

{%endblock%}
