{% extends "layout.html" %} {% load static %} {%block body%}

<div id="markets_div">

	<h3>Markets Overview</h3>
	<div id="container">
        {%for item in coins%}
        <div class="row">
      <div class="col-1 me-2">
        <div class="col">
          <a href="{%url 'view_coin' item.coin_id %}">
            <img src="{{item.logo_url}}" width="50px" alt="" />
          </a>

        </div>
        <div class="col">
          {%if item.coin_id in watchlists%}
          <a class="badge bg-danger  mt-4" style="text-decoration: none;white-space:normal ;" href="{% url 'remove_watchlist' item.coin_id %}">Remove from watchlist 
          </a>
          {%else%}
          <a class="badge bg-success  mt-4" style="text-decoration: none;white-space:normal ;" href="{% url 'add_watchlist' item.coin_id %}">Add to watchlist 
            </a>
           {%endif%}
        </div>
      
       
      </div>

      <div class="col-2 ms-5">
        <a
          style="text-decoration: none; color: black"
          href="{%url 'view_coin' item.coin_id %}"
          ><h4 style="padding: 5px 0; text-align: left">{{item.symbol}}</h4>
          <h5 style="color: grey">{{item.title}}</h5>
        </a>
        {%if item.symbol == 'usd' %}
        <p id="market_current_price_{{item.coin_id}}">
          $ 1.0000000
        </p>
        {%else%}
        <p style="font-weight: bold;" >$<span id="market_current_price_{{item.coin_id}}">{{item.priceUsd|floatformat:4}}</span>
            
          </p>
        {%endif%}
      </div>
       </div>

          {%endfor%}
  </div>


</div>
<nav >
  <ul class="pagination justify-content-center">
    {% if coins.has_previous %}
    <li  class="page-item"><a id="market_first"  class="page-link" href="?page=1">First</a></li>
    <li class="page-item"><a id="market_previous" class="page-link" href="?page={{ coins.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li class="page-item"><a id="market_current" class="page-link" href="?page={{ coins.number }}">Page {{ coins.number }} of {{ coins.paginator.num_pages }}</a></li>
    {% if coins.has_next %}
    <li class="page-item"><a id="market_next" class="page-link" href="?page={{ coins.next_page_number }}">Next</a></li>
    <li class="page-item"><a id="market_last" class="page-link" href="?page={{ coins.paginator.num_pages }}">Last</a></li>
    {% endif %}
  </ul>
</nav>

{%endblock%}
