{% extends "layout.html" %} {% block body %}

<div id="my_orders_div">
  <h1>My Orders</h1>

  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Symbol</th>
      <th>Name</th>
      <th>Type</th>
      <th>No.of Coins</th>
      <th>Price/Coin</th>
      <th>Total</th>

      <th>Created on</th>
      <th></th>
    </tr>

    {%for order in orders%}

    <tr>
      <td>
        <a href="{%url 'view_coin' order.order_coin.coin_id %}">
          <img src="{{order.order_coin.logo_url}}" width="40px" alt="" />
        </a>
      </td>
      <td style="padding-top: 14px">{{order.order_coin.symbol}}</td>
      <td style="padding-top: 14px">{{order.order_coin.title}}</td>
      {%if order.is_buy%}
      <td style="padding-top: 14px; color: green"><strong>Buy</strong></td>
      {%else%}
      <td style="padding-top: 14px; color: red"><strong>Sell</strong></td>
      {%endif%}
      <td style="padding-top: 14px">{{order.order_coin_no}}</td>
      <td style="padding-top: 14px">${{order.order_price_per_coin}}</td>
      <td style="padding-top: 14px">${{order.order_amount}}</td>

      <td style="padding-top: 14px; color: gray">{{order.created}}</td>
      <td>{%if order.is_fulfilled%}
        <td style="padding-top: 14px; color: gray">Fulfilled on:{{order.fulfilled_on}}</td>
        {%elif order.is_closed%}
        <td style="padding-top: 14px; color: gray">Closed on:{{order.closed_on}}</td>
        {%else%}
        <button
          data-order_id="{{order.id}}"
          data-owner="{{order.lister}}"          
          id="my_order_button"
          class="btn btn-outline-danger"
        >
          Close
        </button>
        {%endif%}
      </td>
    </tr>

    {%endfor%}
  </table>
</div>

{% endblock %}
