{% extends "layout.html" %}

{% block body %}

    
<div id="wallet_div">
    <h1 class="ms-2">Wallet</h1>


    <div id="container">
        {%for item in coins%}
        <div class="row">
            <div class="col-1 mt-2">
                
                <a href="{%url 'view_coin' item.coin.coin_id %}"                
                ><img
                    src={{item.coin.logo_url}}
                    width="50px" 
                    alt="" />    
                </a>
               
                
                
            </div>
            
            <div class="col-2 ms-5">
                <a style="text-decoration: none;color: black;" href="{%url 'view_coin' item.coin.coin_id %}"
                            ><h4 style="padding:5px 0;text-align:left;">{{item.coin.symbol}} </h4>
                            <h5 style="color: grey;">{{item.coin.name}}</h5>
                        </a>
                            
                <p>{{item.current_coin_amount|floatformat:4}}</p>
                
                    {%if item.coin.coin_id == 'usd' %}
                    <p style="font-weight: bold;" >$<span data-amount="{{item.current_coin_amount}}" id="wallet_current_total_amount_{{item.coin.coin_id}}">{{item.current_coin_amount|floatformat:6}}</span></p>
                    {%else%}
                    <p style="font-weight: bold;">$<span data-amount="{{item.current_coin_amount}}" id="wallet_current_total_amount_{{item.coin.coin_id}}"></span></p>
                    {%endif%}
                
            </div>
        </div>
        
        {%empty%}
        <h4>No Coins Yet</h4>
        {%endfor%}
    </div>




</div>
 

<nav >
    <ul class="pagination justify-content-center">
      {% if coins.has_previous %}
      <li  class="page-item"><a id="market_first"  class="page-link" href="?page=1">First</a></li>
      <li class="page-item"><a id="market_previous" class="page-link" href="?page={{ coins.previous_page_number }}">Previous</a></li>
      {% endif %}
      <li class="page-item"><a id="market_current" class="page-link" href="?page={{ coins.number }}">Page {{ coins.number }} of {{ coins.paginator.num_pages }}</a></li>
      {% if coins.has_next %}
      <li class="page-item"><a id="market_next" class="page-link" href="?page={{ coins.next_page_number }}">Next</a></li>
      <li class="page-item"><a id="market_last" class="page-link" href="?page={{ coins.paginator.num_pages }}">Last</a></li>
      {% endif %}
    </ul>
  </nav> 




{% endblock %}