{% extends "layout.html" %} {% block body %}

<div id="watchlist_div">
  <h1>Watchlist</h1>



  <div id="container">
    {%for item in watchlists%}
    <div class="row">
      <div class="col-1 mt-2">
        <a href="{%url 'view_coin' item.coin_id %}">
          <img src="{{item.logo_url}}" width="50px" alt="" />
        </a>
      </div>

      <div class="col-2 ms-5">
        <a style="text-decoration: none; color: black" href="{%url 'view_coin' item.coin_id %}">
          <h4 style="padding: 5px 0; text-align: left">{{item.symbol}}</h4>
          <h5 style="color: grey">{{item.title}}</h5>
        </a>
        {%if item.symbol == 'usd' %}
        <p id="watch_current_price_{{item.coin_id}}">
          $ 1.0000000
        </p>
        {%else%}
        <p style="font-weight: bold;">$<span
            id="watch_current_price_{{item.coin_id}}">{{item.priceUsd|floatformat:4}}</span>

        </p>
        {%endif%}
      </div>
    </div>
    {%empty%}
    <h5 style="color: red">Add some coins to Watchlist</h5>
    {%endfor%}
    

  </div>





  
</div>
{%if watchlists %}
<nav >
  <ul class="pagination justify-content-center">
    {% if watchlists.has_previous %}
    <li  class="page-item"><a id="market_first"  class="page-link" href="?page=1">First</a></li>
    <li class="page-item"><a id="market_previous" class="page-link" href="?page={{ watchlists.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li class="page-item"><a id="market_current" class="page-link" href="?page={{ watchlists.number }}">Page {{ watchlists.number }} of {{ watchlists.paginator.num_pages }}</a></li>
    {% if watchlists.has_next %}
    <li class="page-item"><a id="market_next" class="page-link" href="?page={{ watchlists.next_page_number }}">Next</a></li>
    <li class="page-item"><a id="market_last" class="page-link" href="?page={{ watchlists.paginator.num_pages }}">Last</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}