body{
  font-family: 'Courier New', Courier, monospace 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.row{
  padding: 5px;
  
} 
  
  #container {
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    border-style: solid;
    border-radius: 3px;
    border-color: lightgrey;
    
    margin: 10px;
    width: 250px;
}

.display_detail{
  font-weight: bold;
}


